################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/obj
/test/obj
/.vs
/src/bin
/clang/obj
/clang/bin
/clang/*.user
/test/Properties
/test/bin
/test/obj
/test/*.user
